@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0px;
  padding: 0px; }

ul li {
  list-style: none; }

p {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -58px; }
  .wrapper:after {
    content: '';
    display: block;
    height: 58px; }

section {
  height: 100vh;
  width: 100vw;
  min-height: 650px;
  min-width: 1100px; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.greeting {
  background: url("/img/video-bg.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.header {
  height: 80px;
  margin-bottom: 100px; }

.container {
  width: 940px;
  margin: 0  auto; }

.header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 60px; }

.logo__text {
  position: absolute;
  top: 0;
  left: -9999px; }

.header-nav {
  display: inline-block;
  max-width: 100%;
  text-align: right;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.menu__item {
  margin-left: 15px; }
  .menu__item:after {
    content: '•';
    color: #fff;
    margin-left: 10px; }
  .menu__item:last-child:after {
    display: none; }

.menu__link {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: medium;
  font-family: 'ubuntu'; }

.header-btn {
  margin-left: 10px;
  outline: none;
  border: transparent;
  background-color: #e45028;
  border-radius: 3px;
  display: inline-block;
  width: 98px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .header-btn:hover {
    background-color: #c1401e; }

.header-btn__link {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase; }

.greeting-desk {
  margin-bottom: 300px; }

.burger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px; }

.burger-desk {
  margin-left: 15px; }

.burger__title {
  font-family: 'gagalinregular';
  font-weight: normal;
  color: #f9b43b;
  font-size: 72px;
  margin-bottom: 40px;
  padding-top: 50px; }

.burger__text {
  font-family: 'lifehack';
  font-size: 65px;
  color: #fff;
  font-weight: medium;
  line-height: 60px; }

.greeting-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px; }

.arrow__img {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.best {
  background: url("/img/bg-best.jpg") center center no-repeat/cover;
  height: 100vh;
  width: 100vw;
  min-height: 650px;
  position: relative; }

.best-title {
  padding-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 88px; }

.best__text {
  font-size: 72px;
  font-family: 'gagalinregular';
  font-weight: normal; }

.best__produkts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.produkts__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.produkts__pic {
  margin-bottom: 30px; }

.produkts__title {
  font-family: 'lifehack';
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: lighter; }

.produkts__desk {
  font-family: 'ubuntu';
  font-weight: lighter;
  font-size: 14px;
  color: #2f3234; }

.reviews {
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  min-width: 1100px; }

.users {
  width: 100%;
  max-width: 100%; }

.users__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.users__item {
  height: 50vh;
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%; }

.users__avatar {
  height: 50vh;
  min-width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  background-size: cover; }

.users__info {
  height: 50vh;
  width: 100%;
  max-width: 100%;
  padding: 70px 55px 0 55px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.6); }
  .users__info:hover {
    opacity: 1; }

.users__name {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'gagalinregular';
  color: #fff; }

.users__text {
  line-height: 32px;
  color: #fff;
  margin-bottom: 20px;
  display: block; }

.users__btn {
  display: block;
  width: 109px;
  height: 34px;
  background-color: #2f3234;
  border: 1px solid transparent;
  border-radius: 3px; }
  .users__btn:hover {
    background-color: #1f2122;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    cursor: pointer; }

.users__link {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase; }
