.reviews {
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    min-width: 1100px;
}

.users {
    width: 100%;
    max-width: 100%;
}

.users__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.users__item {
    height: 50vh;
    max-width: 100%;
    flex: 0 0 25%;
    
}

.users__avatar {
    height: 50vh;
    min-width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    filter: grayscale(1);
    background-size: cover;

}

.users__info {
    height: 50vh;
    width: 100%;
    max-width: 100%;
    padding: 70px 55px 0 55px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.6);
    &:hover {
        opacity: 1;
        
    }
}

.users__name {
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'gagalinregular';
    color: #fff;
}

.users__text {
    line-height: 32px;
    color: #fff;
    margin-bottom: 20px;
    display: block;
}

.users__btn {
    display: block;
    width: 109px;
    height: 34px;
    background-color: #2f3234;
    border: 1px solid transparent;
    border-radius: 3px;
    // margin-left: 55px;
    &:hover {
        background-color: #1f2122;
        transition: background-color 0.2s;
        cursor: pointer;
    }
}

.users__link {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}