
.greeting{
    background: url("/img/video-bg.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

}
.header {
    height: 80px;
    margin-bottom: 100px;
}


.container {
    width: 940px;
    margin: 0  auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 60px;
}

.header__link {
    // margin-right: auto;
}

.header__pic {

}

.logo__text {
    position: absolute;
    top: 0;
    left: -9999px;
}

.header-nav {
    display: inline-block;
    max-width: 100%;
    text-align: right;
    flex: 1;
}

.menu-list {
    display: flex;
    width: 100%;
    
    
    
}

.menu__item {
    margin-left: 15px;
    &:after {
        content: '•';
        color: #fff;
        margin-left: 10px;
    }
    &:last-child:after {
        display: none;
    }
}



.menu__link {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: medium;
    font-family: 'ubuntu';
    
}

.header-btn {
    margin-left: 10px;
    outline: none;
    border: transparent;
    background-color: #e45028;
    border-radius: 3px;
    display:inline-block;
    width: 98px;
    height: 35px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: #c1401e;
    }
   
}

.header-btn__link{
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}


.greeting-desk {
    margin-bottom: 300px;
}



.burger {
    display: flex;
    margin-bottom: 100px;
    
}

.burger-desk {
    margin-left: 15px;
}

.burger__title {
    font-family: 'gagalinregular';
    font-weight: normal;
    color: #f9b43b;
    font-size: 72px;
    margin-bottom: 40px;
    padding-top: 50px;
}

.burger__text {
    font-family: 'lifehack';
    font-size: 65px;
    color: #fff;
    font-weight: medium;
    line-height: 60px;
    
}



.greeting-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.arrow__img {
    align-items: center;
    
}

